.about__header {
  margin-top: 2rem;
  background-color: var(--color-bg);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  gap: 2rem;
  border-radius: 1.5rem;
}

.about__header img {
  max-width: 100%;
  height: auto;
}

.user__desc {
  align-self: stretch;
  line-height: 2rem;
  color: var(--color-grey-1);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.skills-work {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 2rem;
}

.skills,
.work {
  background-color: var(--color-bg);
  border-radius: 1.2rem;
  padding: 2rem;
  width: 100%;
}

.skills-work ul {
  margin-top: 1rem;
}

.skills-work li {
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  list-style: circle;
  color: var(--color-grey-1);
}

.experience_interests {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.experience,
.interests {
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: 1.5rem;
  width: 100%;
}

.experience {
  width: 60%;
}

.heading + p {
  color: var(--color-grey-1);
}

.experience_list {
  margin-top: 1.5rem;
  color: var(--color-grey-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.experience__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}

.company_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem;
}

.position {
  font-weight: 700;
  font-size: 1.1rem;
}

.years {
  text-align: end;
}

.interest__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.interest__grid img {
  max-width: 100%;
  /* height: auto; */
  aspect-ratio: 2;
  object-fit: cover;
  border-radius: 1rem;
}

.interest_item p{
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  font-weight: 900;
  color: var(--color-grey-1);
}

@media screen and (max-width: 768px){
  .about__header{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 645px){
  .skills-work, .experience_interests{
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }

  .experience {
    width: 100%;
  }
}