footer{
    padding-bottom: 1rem;
}

.footer {
  background-color: var(--color-bg);
  color: var(--color-grey-1);
  padding: 2rem;
  border-radius: 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px){
  footer{
    padding-bottom: 2rem;
  }

  .footer{
    margin-top: 2rem;
  }
}